@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans antialiased;
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 218 67% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 136 62% 58%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.7rem;

    --blue-scenery-gradient: conic-gradient(from -200deg at 50% 50%, #53f3e0, #cbfbf6, #53f3e0);
    --blue-scenery-2-gradient: conic-gradient(from -200deg at 50% 50%, rgba(83, 243, 224, .8), #cbfbf6, rgba(83, 243, 224, .8));
    --blue-illustration-1-gradient: conic-gradient(from -140deg at 100% 100%, #24efd7, #b3faf1 120deg, #24efd7);
    --blue-illustration-2-gradient: conic-gradient(from -140deg at 100% 100%, #0fd1bb, #6bf5e4 120deg, #0fd1bb);
    --blue: #0fd1bb;
    --red-scenery-gradient: conic-gradient(from -200deg at 50% 50%, #e53636, #f7bcbc, #e53636);
    --red-scenery-2-gradient: conic-gradient(from -200deg at 50% 50%, rgba(229, 54, 54, .75), #f7bcbc, rgba(229, 54, 54, .75));
    --red-illustration-1-gradient: conic-gradient(from -140deg at 100% 100%, #ef2424, #fab3b3 120deg, #ef2424);
    --red-illustration-2-gradient: conic-gradient(from -140deg at 100% 100%, #d10f0f, #f56b6b 120deg, #d10f0f);
    --red: #e53636;
    --purple-scenery-gradient: conic-gradient(from -200deg at 50% 50%,#8a4fff,#c7b3ff,#8a4fff);
    --purple: #5319c7;
    --green-scenery-gradient: conic-gradient(from -200deg at 50% 50%, #53f395, #cbfbdf, #53f395);
    --green-scenery-2-gradient: conic-gradient(from -200deg at 50% 50%, rgba(83, 243, 149, .8), #cbfbdf, rgba(83, 243, 149, .8));
    --green-illustration-1-gradient: conic-gradient(from -140deg at 100% 100%, #24ef57, #b3fac4 120deg, #24ef57);
    --green-illustration-2-gradient: conic-gradient(from -140deg at 100% 100%, #0fd140, #6bf58e 120deg, #0fd140);
    --green: #0fd140;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bg-noise {
    @apply bg-[url('/images/noise-min.png')];
  }
}